header{
background-color: blue;
height: 50px;
}

header h1{
    text-align: center;
    color: white;
    padding: 8px;
    margin-top: 0;
}

div{
    text-align: center;
    margin-top: 30px;
}


table th{
    background-color: rgb(162, 174, 239);
    width: 20%;
    font-size: 20px;

}
table tr:nth-child(odd){
    background-color: white;
}

table tr:nth-child(even){
    background-color: rgba(234, 233, 233, 0.895);
}

.tarefas{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
}

.tarefasModal{
    height: 80%;
    width: 30%;
    background-color: rgb(230, 233, 240);
    
}

.tarefasModal label{
    display: block;
    margin-top: 20px;
}

.cadastroForm{
    height: 100%;
    width: 100%;
}

#descricaoForm{
    width: 100%;
    height: 100px;
    resize: both;
    border: 1px solid black;
    border-radius: 5px;
}

#tituloForm{
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
}

#dataVencimentoForm{
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
}


.tituloForm{
    height: 30%;
}

label{
    font-size: large;
    font-weight: bold;
}

#gravarTarefa{
    margin-top: 15%;
    background-color: rgb(107, 147, 198);
    font-weight: bold;
}

#fechar{
    margin-top: 10%;
    background-color: rgb(245, 174, 174);
    font-weight: bold;
}

.btn-Finalizar{
    background-color: green;
}

.btn-Reabrir{
    background-color: red;
}

td.colunaBotoes {
    text-align: left; /* Alinha o conteúdo à esquerda */
    padding-left: 0; /* Remove qualquer padding à esquerda */
    margin-left: 0; /* Remove qualquer margem à esquerda */
}
