header{
background-color: blue;
height: 50px;
}

header h1{
    text-align: center;
    color: white;
    padding: 8px;
    margin-top: 0;
}

div{
    text-align: center;
    margin-top: 20px;
}

.tarefas{
    margin:auto;
}


