header{
background-color: blue;
height: 50px;
}

header h1{
    text-align: center;
    color: white;
    padding: 8px;
    margin-top: 0;
}

div{
    text-align: center;
    margin-top: 20px;
}


table th{
    background-color: rgb(166, 218, 166);
    width: 20%;

}
table tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}

table tr:nth-child(even){
    background-color: rgb(247, 243, 243);
}

.tarefas{
    width: 100%;
    border-collapse: collapse;
}

.tarefasModal{
    height: 70%;
    width: 30%;
    
}

.tarefasModal label{
    display: block;
    margin-top: 20px;
}

.gravarTarefa{
    
}


